<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>order detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<td>
<table class="table">
    <thead>
    <td>
        id
    </td>
    <td>
        status
    </td>
    <td>
        name
    </td>
    <td> table number</td>
    </thead>
<tr>

<td>{{ order_detail.id }}</td>
<td>{{ order_detail.status }}</td>
<td>{{ order_menu_item.name }}</td>
<td>{{ order_table.table_number }}</td>

</tr>    </table>
</body>
</html>