<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

    <table class="table">
    <thead>
    <td> id</td>
    <td> name</td>
    <td> price</td>
    <td> catagory</td>
    <td> discount</td>
    <td> serving_time_period</td>
    <td> estimated_cooking_time</td>
    </thead>

    {% for i in menu_list %}
    <tr>
        <td>{{  i.id}}</td>
    <td>{{  i.name}}</td>
    <td>{{i.price}}</td>
    <td>{{i.catagory}}</td>
    <td>{{i.discount}}</td>
    <td>{{i.serving_time_period}}</td>
    <td>{{i.estimate_cooking_time}}</td>
    </tr>

{% endfor %}
     </table>

</body>
</html>