.content {
    background-position: center;
    background-size: cover;
    background-image: var(--background-url);
    min-height: 100vh;
    text-align: center;
    padding-top: 1rem;
    color: yellow;
    padding-left: 3rem;

}



.text {
    padding: 2rem;
    font-size: x-large;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif
}