* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 80vh ;
}

h4 {
    color: black;
    font-size: 1rem;
    padding-left: 0px;
}


header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    align-items: center;
    background-color: #8567ee;
    /*height: 14vh;*/
}


.topnav {
    overflow: hidden;
    background-color: #8567ee;
}


.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    border-radius: 0px;
    border: 1px;
    border-color: #0466c8;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 15px;
}

/*.topnav a:hover {*/
/*    background-color: #1398c9;*/
/*    color: white;*/
/*}*/

.topnav a.active {
    background-color: #0466c8;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 640px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 640px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}