@media (min-width: 640px) {
    #login-modal {

        max-width: 50vw;
    }
}

@media (max-width: 640px) {
    #login-modal {
        max-width: 80vw;
    }
}

/*input[type=tel ]:focus {*/
/*    border: 3px solid #555;*/
/*    background-color: lightblue;*/
/*}*/

/*input[type=tel] {*/
/*    margin-top: 1rem;*/
/*    margin-left: 1rem;*/
/*    border: 2px solid #4e555b;*/
/*    border-radius: 4px;*/
/*}*/

/*input[type=date ]:focus {*/
/*    border: 3px solid #555;*/
/*    background-color: lightblue;*/
/*}*/

/*input[type=date] {*/
/*    margin-top: 1rem;*/
/*    margin-left: 1rem;*/
/*    border: 2px solid #4e555b;*/
/*    border-radius: 4px;*/
/*}*/

/*input[type=email ]:focus {*/
/*    border: 3px solid #555;*/
/*    background-color: lightblue;*/
/*}*/

/*input[type=email] {*/
/*    margin-top: 1rem;*/
/*    margin-left: 1rem;*/
/*    border: 2px solid #4e555b;*/
/*    border-radius: 4px;*/
/*}*/

/*input {*/
/*    margin-left: 1rem;*/
/*    margin-bottom: 1rem;*/
/*}*/

/*.content {*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*input[type=text ]:focus {*/
/*    border: 3px solid #555;*/
/*    background-color: lightblue;*/
/*}*/

/*input[type=text] {*/
/*    margin-top: .5rem;*/
/*    margin-left: 1rem;*/
/*    border: 2px solid #4e555b;*/
/*    border-radius: 4px;*/
/*}*/

/*#fa {*/
/*    border: 1px solid;*/
/*    padding: 10px;*/
/*    box-shadow: 5px 10px #888888;*/
/*}*/