{% extends "cafe_base.html" %}
{% block title %} about_us{% endblock %}
{% block css %}

    <link href="{{ url_for("static",filename="about_us.css") }}" rel="stylesheet">
    <style>
        :root {
            --background-url: url('{{ url_for('static', filename='img/3.jpg', _external=True) }}');
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid content">

        <div class="row header-about">
            <h2>
                About Us:
            </h2>
        </div>
        <div class="row">
            <div class="col-8" style="float: left">

                <p class="text">
                    We start in 2021 spring...
                    This cafe is the best in the region.

                </p>
            </div>

        </div>

    </div>

{% endblock %}
