
{% extends "cafe_base.html" %}
{% block title %} about_us{% endblock %}
{% block css%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ url_for("static",filename="bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ url_for("static",filename="about_us.css") }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container-fluid content">
    <div class="row">
        <p>Contact Us : <i class="fa fa-phone-square fa-lg">  </i>  09123456789  <i class="fa fa-envelope-square fa-lg" >  </i> cafe@good_cafe.com <i class="fa fa-map-marker fa-lg"> </i> Tehran, Milad Tower, Cafe </p>
    </div>
    <div class="row">
        <h1>
            About Us:
        </h1>
    </div>
    <div class="row">

        <p class="text">
            We start in 2021 spring...
        </p>

    </div>

</div>

{% endblock %}
