<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABOUT US</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/about_us.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid content">
    <div class="row">
        <p>Contact Us : <i class="fa fa-phone-square fa-lg">  </i>  09123456789  <i class="fa fa-envelope-square fa-lg" >  </i> cafe@good_cafe.com <i class="fa fa-map-marker fa-lg"> </i> Tehran, Milad Tower, Cafe </p>
    </div>
    <div class="row">
        <h1>
            About Us:
        </h1>
    </div>
    <div class="row">

        <p class="text">
            We start in 2021 spring...
        </p>

    </div>

</div>

</body>
</html>