<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> chart</title>
    <link href="bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .wapper{
            max-width: 150px;
            margin: auto 2px;
            position: relative;
            padding: 20px 10px;
            text-align: center;

        }
        .bg-withe{
            background-color: white!important;

        }
        .select-shadow{
            box-shadow: 0 2px 5px 0;
        }
        .radious{
            border-radius: 20px;
        }

    </style>
</head>
<body>
<div class="container">
    <center><p class="wapper bg-withe select-shadow radious" style="margin-top: 5%"> Restaurant manager</p></center>
    <div style="transform:translate(80%) ">
     <p class="wapper bg-withe select-shadow radious" style="margin-top: 5%"> office manager</p>
        </div>
     <p class="wapper bg-withe select-shadow radious" style="margin-top: 5%"> Restaurant Secretary</p>

    <p class="wapper bg-withe select-shadow radious" style="margin-top: 5%"> delivery</p>

    <p class="wapper bg-withe select-shadow radious" style="margin-top: 5%"> Cleaners</p>

    <p class="wapper bg-withe select-shadow radious" style="margin-top: 5%"> Food service providers</p>

    <p class="wapper bg-withe select-shadow radious" style="margin-top: 5%"> Chef</p>
</div>
</body>
</html>