{% extends "cafe_base.html" %}
{% block title %}Contact{% endblock %}
{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for("static",filename="contact.css") }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row text-center p-3" >
{#        <img src="../static/img/co-b1-1.jpg" style="width: 100%;padding-top: 2%"><br>#}
        <h2 style=" color: black">Contact Us</h2>


    </div>
    <p>You can contact us using the form below. Please send us your comments and suggestions.</p>
    <div  style="width: 100%;">
        <div class="wapper bg-withe select-shadow radious">


            <h4>Enter the details to contact us</h4>
            <hr>

            <form class="form-group" >
                <label for="fname">First name:</label>
                <input type="text" id="fname" name="fname" style="margin-left: 2%"><br><br>

                <label for="email" >Email:</label>
                <input type="email" id="email" name="email" style="margin-left: 5.5%"><br><br>

                <label for="tel">Phone:</label>
                <input type="tel" id="tel" name="tel" style="margin-left: 5%"><br><br>


                <label for="textarea">message text:</label>
                <textarea class="form-control" rows="5" id="textarea"></textarea><br>

                <input class="btn btn-success" type="submit" value="send message" style="float: right"><br>
                <hr>
            </form>




        </div>
    </div>



</div>
{% endblock %}

