{% extends "cafe_base.html" %}
{% block title %}contact us{% endblock %}
{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for("static",filename="contact.css") }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row text-center pt-3 pl-5 pr-5" >
        <h3 style=" color: black">Contact Us</h3>


    </div>
    <p style="padding-left: 20px">You can contact us using the form below. Please send us your comments and suggestions.</p>
    <div  style="width: 100%;">
        <div class="wapper bg-withe select-shadow radious">


            <h5>Enter the details to contact us</h5>
            <hr>

            <form class="form-group" >
                <label for="fname">First name:</label>
                <input type="text" id="fname" name="fname" style="margin-left: 2%"><br><br>

                <label for="email" >Email:</label>
                <input type="email" id="email" name="email" style="margin-left: 5.5%"><br><br>

                <label for="tel">Phone:</label>
                <input type="tel" id="tel" name="tel" style="margin-left: 5%"><br><br>


                <label for="textarea">message text:</label>
                <textarea class="form-control" rows="4" id="textarea"></textarea><br>

                <input class="btn btn-success" type="submit" value="send message" style="float: right"><br>
                <hr>
            </form>




        </div>
    </div>



</div>
    <br>
{% endblock %}

