<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cafe_5</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="../static/cafe_base.css" rel="stylesheet">
  <style>

</style>


</head>

<body>
  <header>
    <h1>CAFE_5</h1>
    <nav>
      <ul class="main-nav">
        <li><a href="#">HOME</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">MENU</a></li>
        <li><a href="#">WHERE</a></li>
      </ul>
    </nav>
    <div class ="hamber-menu">
        <span></span>
        <span></span>
        <span></span>
    </div>
  </header>
<!--  <main>-->
<!--    <article class="first"></article>-->
<!--    <article class="second"></article>-->
<!--  </main>-->
</body>
</html>