{% extends "cafe_base.html" %}
{% block title %}home{% endblock %}
{% block css %}
    <link href="{{ url_for("static",filename="home.css") }}" rel="stylesheet">
{% endblock %}
{% block script %}
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block content %}
<div class="container-fluid bgimg">
    <div class="row">
        <div class="col3 pr-lg-5 mr-3">
            <h1 style="font-size: 125px; color: #f06e09 ;padding-left: 5rem; padding-top: 5vh">cafe</h1>
        </div>
        <div class="col3 pl-lg-5 text-white pt-lg-3 ml-3">
            <p>Contact Us : <i class="fa fa-phone-square fa-lg">  </i>  09123456789  <i class="fa fa-envelope-square fa-lg" >  </i> cafe@good_cafe.com <i class="fa fa-map-marker fa-lg"> </i> Tehran, Milad Tower, Cafe </p>

        </div>

        <div class="col-2 text-white pt-lg-3 pl-lg-4">
            <button type="button" class="btn btn-danger btn-lg"> Log In </button>
            <button type="button" class="btn btn-outline-danger btn-lg"> Register </button>

        </div>
        <div class="col-1 text-danger pt-lg-3 ">
            <i class="fa fa-list fa-3x"></i>

        </div>



    </div>
    <div class="row">
        <p style="padding-left: 2rem; color: white">Open from 9am to 11pm</p>
    </div>

</div>
{% endblock %}
