{% extends "cafe_base.html" %}
{% block title %}login{% endblock %}
{% block css %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block content %}
<div class="container-fluid" style="height: 75vh">

  <h2 style="text-align: center; color: black; padding: 1rem;">welcom to cafe 5</h2>


    <div class="modal-content w-50 m-auto bg-light" id="login-modal" style="display: block">

{#        <span onclick="document.getElementById('login-modal').style.display='none'" class="close" title="Close Modal">X</span>#}
        <form class="form-group text-center p-3" action="{{ url_for('login') }}"method="post" style="height: 45vh">
            <h3>Login</h3><br>
            <label for="phone"><b>phone</b></label>
            <input class="input-group" id="phone" type="text" placeholder="Enter phone number" name="phone_number" required>

            <label for="psw"><b>Password</b></label>
            <input class="input-group" id="psw" type="text" placeholder="Enter Password" name="psw" required><br>
            <button type="submit" class="btn btn-success btn-block">Login</button>
            <button type="" class="btn btn-danger btn-block">Cancel</button>

        </form>


    </div>

</div>
{% endblock %}
