{% extends "cafe_base.html" %}
{% block title %}menu{% endblock %}
{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for("static",filename="menu.css") }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
{% endblock %}


{% block content %}

<div class="container" style="box-shadow: #1d2124 inset;padding-top: 3rem;padding-left: 8rem">
  <div  style="max-width:800px; border: #1b1e21 wave;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);background-color: #f5f1f1">

    <h4 style="text-align: center;padding-top: 1rem"><b>THE MENU</b></h4>

        <div class="navbar" >
             <a  href="#" class="active">Eat</a>
            <a href="#">Drink</a>

        </div>




<div>
    <button onclick=""> users</button>
</div>

      <div id="one-page">




      </div>

  <div style="padding-left: 1rem">
    <div id="Eat "  style="display: block; padding-top: 2rem">


      <pre style="font-size: 22px" >Bread Basket                                             <input type="checkbox" checked="checked"  ></pre>
      <p >Assortment of fresh baked fruit breads and muffins 5.50</p> <br>

      <pre style="font-size: 22px">Honey Almond Granola with Fruits                         <input type="checkbox"  ></pre>
      <p >Natural cereal of honey toasted oats, raisins, almonds and dates 7.00</p><br>

      <pre style="font-size: 22px">Belgian Waffle                                           <input type="checkbox" ></pre>
      <p >Vanilla flavored batter with malted flour 7.50</p><br>

      <pre style="font-size: 22px">Scrambled eggs                                           <input type="checkbox" ></pre>
      <p>Scrambled eggs, roasted red pepper and garlic, with green onions 7.50</p><br>

      <pre style="font-size: 22px">Blueberry Pancakes                                       <input type="checkbox" ></pre>
      <p >With syrup, butter and lots of berries 8.50</p>
    </div>

    <div id="Drinks" style="display: none;">
      <h5>Coffee</h5>
      <p >Regular coffee 2.50</p><br>

      <h5>Chocolato</h5>
      <p >Chocolate espresso with milk 4.50</p><br>

      <h5>Corretto</h5>
      <p >Whiskey and coffee 5.00</p><br>

      <h5>Iced tea</h5>
      <p >Hot tea, except not hot 3.00</p><br>

      <h5>Soda</h5>
      <p >Coke, Sprite, Fanta, etc. 2.50</p>

</div>
    <div>
      <hr>
      <h1>Show Orders</h1>

      <form >
         <label for="table_number" >table number:</label>
         <input type="text" id="table_number" name="table_number"><br><br>

         <label for="customer_name">customer name:</label>
         <input type="text" id="customer_name" name="customer_name"><br><br>

         <button type="button" autofocus onclick="alert('Welcome to Cafe 5!')" style="color: white;background-color: #0f6674;font-size: larger">Submit</button>
      </form>
    </div>

</div>
<img src="https://www.w3schools.com/w3images/coffeehouse2.jpg" style="padding-top: 2rem;width: 80.5%">
  <hr>
  </div>



{% endblock %}
