<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu Items</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row" id="add-item">
        <div class="col-9 col-sm-auto">
            <div class="form-row">
                <label for="category" class="category">Select category: </label>
                    <select name="category">
                        <option value="Eat">Eat</option>
                        <option value="Drink">Drink</option>
                    </select>
            </div>
        </div>
    </div>

</div>

</body>
</html>