{% extends "cafe_base.html" %}
{% block title %}home{% endblock %}
{% block css %}
    <link href="{{ url_for("static",filename="home.css") }}" rel="stylesheet">
{% endblock %}
{% block script %}
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block content %}
<form class="form-group" action="{{ url_for('menu_update') }}" method="post">
    <input type="text" id="id" size="40" placeholder="id" name="id"><br>
    <input type="text" id="name" size="40" placeholder="name" name="name"><br>
    <input type="text" id="catagory" size="40" placeholder="catagory" name="catagory"><br>
    <input type="text" id="discount" size="40" placeholder="discount" name="discount"><br>
    <input type="text" id="delivering_time_period" size="40" placeholder="delivering time period" name="delivering_time_period"><br>
    <input type="text" id="estimated_time_cooking" size="40" placeholder="estimated cooking time" name="estimated_cooking_time"><br>
    <input type="text" id="price" size="40" placeholder="price" name="price"><br>
<input type="submit" id="submitaiton" value="update">
</form>

{% endblock %}
