{% extends "cafe_base.html" %}
{% block title %}menu{% endblock %}
{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for("static",filename="menu.css") }}" rel="stylesheet">
{% endblock %}


{% block content %}

<div class="container" style="box-shadow: #1d2124 inset;padding-top: 3rem;padding-left: 8rem">
  <div  style="max-width:800px; border: #1b1e21 wave;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);background-color: #f5f1f1">

    <h4 style="text-align: center;padding-top: 1rem"><b>THE MENU</b></h4>

        <div class="navbar" >
             <a  href="#" class="active">Eat</a>
            <a href="#">Drink</a>

        </div>


  <div style="padding-left: 1rem">
    <div id="Eat "  style="display: block; padding-top: 2rem">

      <h5>Bread Basket</h5>
      <p >Assortment of fresh baked fruit breads and muffins 5.50</p><br>

      <h5>Honey Almond Granola with Fruits</h5>
      <p >Natural cereal of honey toasted oats, raisins, almonds and dates 7.00</p><br>

      <h5>Belgian Waffle</h5>
      <p >Vanilla flavored batter with malted flour 7.50</p><br>

      <h5>Scrambled eggs</h5>
      <p>Scrambled eggs, roasted red pepper and garlic, with green onions 7.50</p><br>

      <h5>Blueberry Pancakes</h5>
      <p >With syrup, butter and lots of berries 8.50</p>
    </div>

    <div id="Drinks" style="display: none;">
      <h5>Coffee</h5>
      <p >Regular coffee 2.50</p><br>

      <h5>Chocolato</h5>
      <p >Chocolate espresso with milk 4.50</p><br>

      <h5>Corretto</h5>
      <p >Whiskey and coffee 5.00</p><br>

      <h5>Iced tea</h5>
      <p >Hot tea, except not hot 3.00</p><br>

      <h5>Soda</h5>
      <p >Coke, Sprite, Fanta, etc. 2.50</p>

</div>
</div>

  </div>
<img src="https://www.w3schools.com/w3images/coffeehouse2.jpg" style="padding-top: 2rem;width: 80.5%">
  <hr>
  <p><iframe loading="lazy" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d103661.01258664865!2d51.332329!3d35.7162165!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e00cb6c9764a5%3A0xef0071656687c2f!2z2K7Yp9mG2Ycg2KjYp9ix2YrYs9iq2Kcg2KfZitix2KfZhg!5e0!3m2!1sen!2s!4v1528051651138" width="400" height="400" frameborder="0"></iframe></p>
</div>

{% endblock %}
