{% extends "cafe_base.html" %}
{% block title %}menu delete{% endblock %}
{% block css %}
    <link href="{{ url_for("static",filename="menu_delete.css") }}" rel="stylesheet">
{% endblock %}
{% block script %}
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block content %}
<form  action="{{ url_for('menu_delete') }}" id="content" method="post">
     <fieldset>

        <input type="number" id="id" size="40" placeholder="id" name="id"><br>
        <input type="submit" id="submitaiton" value="delete">
     </fieldset>
</form>

{% endblock %}