{% extends "cafe_base.html" %}
{% block title %}menu{% endblock %}
{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for("static",filename="menu.css") }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">

{% endblock %}


{% block content %}
    <form  action="{{ url_for('orders_create') }}" method="post"  style="margin: auto">
        <label for="table_number">table number</label><input type="text" id="table_number" size="40" placeholder="table number" name="table_number" style="margin: auto"><br>
   <table class="table" style="border: 5px solid black;">
    <thead>
    <tr>
    <td> name</td>
    <td>catagory</td>
    <td>discount</td>
    <td>delivering time period </td>
    <td>estimated cooking time</td>
        <td>price</td>
        <td> total number</td>
    </tr>


    </thead>
    <tbody>
{% for row in order_list %}
    <tr>
    <td>{{ row[1] }}</td>
    <td>{{ row[2] }}</td>
    <td>{{ row[3] }}</td>
    <td>{{ row[4] }}</td>
    <td>{{ row[4] }}</td>
    <td>{{ row[6] }}</td>
    <td> <input type="text" id={{ row[0] }} size="40" placeholder="num" name="number"></td>
    <input type="hidden" name="id" value="{{ row[0]}}" />

    </tr>
{% endfor %}
    </tbody>
    </table>


<input type="submit" id="submitaiton" value="submit order">
</form>
{% endblock %}
