<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recepits-print</title>
     <link href="bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .wapper{
            max-width: 1100px;
            margin: auto 2px;
            position: relative;
            padding: 20px 10px;
        }
        .bg-withe{
            background-color: white!important;
        }
        .select-shadow{
            box-shadow: 0 2px 5px 0;
        }
        .radious{
            border-radius: 20px;
        }

    </style>
</head>
<body>

<div class="container" >
  <div  style="width: 100%;padding-top: 2%;" >
        <div class="wapper bg-withe select-shadow radious">

            <h1>Receipt Customer</h1>
            <hr>

           <h5> <pre><b>Sale:        0.0T</b></pre></h5><br>
          <h5><pre><b>TAX:         0.0T</b></pre></h5><br>
            <h5>TOTAL:</h5><br>
            <h5>PAYMENT:</h5><br>
            <h5>APPROVED:</h5><br>
            <h5>CUSTOMER COPY</h5>
<hr>
<h6>Cafe receipt was issued to the customer.</h6>

          <button type="button" autofocus onclick="alert('Recepits!')" style="background-color: blue;color: white">Download JPG!</button>

        </div>
    </div>
</div>

</body>
</html>