{% extends "cafe_base.html" %}
{% block title %}receipts{% endblock %}
{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for("static",filename="receipts.css") }}" rel="stylesheet">

{% endblock %}

{% block content %}
    <div class="container-fluid" style="min-height: 75vh">
        <div class="row pt-2 text-center m-auto" id="modal-receipt">
            <div class="modal-content bg-withe m-auto p-3">

                <h4 class="text-center">Enter Receipt Details</h4>


                <form class="form-group text-left pl-3 pr-3 pb-0" action="{{ url_for('receipts') }}" method="post">

                    <label for="date">Date:</label><br>
                    <input class="input-group" type="date" id="date" name="date" required>

                    <label for="time">Time:</label><br>
                    <input class="input-group" type="time" id="time" name="time" required>

                    <label for="price">Price:</label><br>
                    <input class="input-group" type="number" id="price" name="price" min="10000" max="100000" required>

                    <label for="tel">Phone:</label><br>
                    <input class="input-group" type="tel" id="tel" name="tel" required>


                    <label for="text1">Adress:</label><br>
                    <input class="input-group" type="text" id="text1" name="text" required>

                    <input class="btn btn-block btn-success mt-2" type="submit" value="Make Recepits">
                    <button class="btn btn-block btn-info mt-2" type="submit"><a href="{{ url_for('receipts_print') }}" style="color: white">Print Recepits</a></button>

                </form>


            </div>
        </div>
    </div>
{% endblock %}