{% extends "cafe_base.html" %}
{% block title %}receipts print{% endblock %}
{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for("static",filename="recepits_print.css") }}" rel="stylesheet">
 {% endblock %}

{% block content %}

<div class="container" >
  <div  style="width: 100%;padding-top: 2%;" >
        <div class="wapper bg-withe select-shadow radious">

            <h1>Receipt Customer</h1>
            <hr>

           <h5> <pre><b>Sale:        0.0T</b></pre></h5><br>
          <h5><pre><b>TAX:         0.0T</b></pre></h5><br>
            <h5>TOTAL:</h5><br>
            <h5>PAYMENT:</h5><br>
            <h5>APPROVED:</h5><br>
            <h5>CUSTOMER COPY</h5>
<hr>
<h6>Cafe receipt was issued to the customer.</h6>

          <button type="button" autofocus onclick="alert('Recepits!')" style="background-color: blue;color: white">Download JPG!</button>

        </div>
    </div>
</div>

{% endblock %}