<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="447045_606.jpg" style="width: 12vw;height: 20vh;margin-top: 60px"><br>

            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="margin-top: 5px;margin-left: 60px">Tea</button>


            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Order tea</h4>
                        </div>
                    <div class="modal-body">

                        <label for="Tea">Tea</label>
                        <input type="number" id="Tea" name="fav_language"><br>
                        <button type="button" onclick="window.location.href = 'recepits-print.html';">Send</button>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                 </div>
            </div>
         </div>
        </div>

        <div class="col-md-6">
              <img src="intro-1587046287.jpg" style="width: 12vw;height: 20vh;margin-top: 60px"><br>

              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1" style="margin-top: 5px;margin-left: 30px">Orange juice</button>


            <div class="modal fade" id="myModal1" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Order Orange juice</h4>
                        </div>
                        <div class="modal-body">

                            <label for="Orange">Orange juice</label>
                            <input type="number" id="Orange" name="fav_language">
                            <button type="button" onclick="window.location.href = 'recepits-print.html';">Send</button>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
             <img src="images.jpg" style="width: 12vw;height: 20vh;margin-top: 60px"><br>

             <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2" style="margin-top: 5px;margin-left: 50px">Coffee</button>


            <div class="modal fade" id="myModal2" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Order Coffee</h4>
                        </div>
                        <div class="modal-body">
                             <label for="Coffee">Coffee</label>
                             <input type="number" id="Coffee" name="fav_language">
                             <button type="button" onclick="window.location.href = 'recepits-print.html';">Send</button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
             <img src="1-99.jpg" style="width: 12vw;height: 20vh;margin-top: 60px"><br>

             <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal3" style="margin-top: 5px;margin-left: 40px"> ice cream</button>


            <div class="modal fade" id="myModal3" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Order ice cream</h4>
                        </div>
                        <div class="modal-body">
                             <label for="ice cream">ice cream</label>
                             <input type="number" id="ice cream" name="fav_language">
                             <button type="button" onclick="window.location.href = 'recepits-print.html';">Send</button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



</body>
</html>
