{% extends "cafe_base.html" %}
{% block title %}table update{% endblock %}
{% block css %}
    <link href="{{ url_for("static",filename="table_update.css") }}" rel="stylesheet">
{% endblock %}
{% block script %}
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block content %}
<form  action="{{ url_for('table_update') }}" method="post">
<input type="text" id="table_number" size="40" placeholder="table number" name="table_number"><br>
    <input type="text" id="cofe_space_position" size="40" placeholder="cafe space position" name="cafe_space_position"><br>
    <input type="submit" id="submitaiton" value="update" style="background-color: #0c5460;color: white;width: 8%">
</form>

{% endblock %}
