{% extends "cafe_base.html" %}
{% block title %}users list{% endblock %}
{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for("static",filename="user.css") }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <table  class="table-responsive  table table-hover" id="customers" >
    <thead>
    <tr>
        <th>ID</th>
        <th>first name</th>
        <th>last name</th>
        <th>phone number</th>
        <th>birth day </th>
        <th>email</th>
    </tr>


    </thead>
    <tbody>
{% for row in list_users %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
        <td>{{ row[6] }}</td>
    </tr>
{% endfor %}
    </tbody>
    </table>
{% endblock %}

